<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/xf.css"></link>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>自助消费</title>
</head>
<body>
<div id="zzxf">
    <!-- 左侧分类 -->
    <div class="left">
        <p :class="i==shopindex?'active':''" class="xiangmu" v-for="(type,i) of menustype" :key="i" @click="types(i)">{{type}}</p>
    </div>
    <!-- 右侧商品 -->
    <div class="right">
        <div class="right_1" v-for="(lis,index) of lists(shopindex)" :key="index">
            <div class="img">
                <img style="width:100%;height:100%;" src="http://www.intereek.com/pangu/html/intereek/images/order_01.jpg" alt="">
            </div>
            <div class="right_2">
                <div>{{lis.name}}</div>
                <div>￥{{lis.price}}</div>
                <div class="flex">
                    <button style="margin-left:5px;" class="pad" :class="lis.ck==true?'have':'no'" @click="btnj(lis)">
                        <img src="img/remove.png" alt="">
                    </button>
                    <span style="margin-left:5px;" :class="lis.ck==true?'have':'no'">{{lis.num}}</span>
                    <button style="margin-left:5px;" class="pad padj" @click="btnjj(lis)">
                        <img src="img/add.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="details" @click="detail">
        <div class="divs">
           <p>{{totalnums}}</p>
        </div>
        <div class="img_t">
            <img src="img/buy.png" alt="">
        </div>
    </div>
    <!-- 所有商品的集合 -->
    <div class="bg" v-if="!act" @click="act=!act">
    </div>
        <div class="jihe" :class="act==true?'dpn':'dpb'">
            <div class="jihe1">
                <div class="jihe1_1">
                    <p>已选商品</p>
                    <p @click="cancel">取消</p>
                </div>
                <ul style="margin:0;padding:0;">
                    <li class="li" v-for="(detail,indx) in shops" :key="indx">
                            <p class="wid" style="font-size:1rem;">{{detail.name}}</p>
                            <p class="wid" style="text-align: right;color:orangered;">￥{{detail.price}}</p>
                            <div class="wid wids" style="text-align:center">
                                <button class="minus"><img src="img/remove.png" alt=""></button>
                                <span>{{detail.num}}</span>
                                <button class="add"><img src="img/add.png" alt=""></button>
                            </div>
                        </li>
                </ul>
            </div>
            <div class="jihe2">
                <p>合计：￥{{total}}</p>
                <button>去结算</button>
            </div>
        </div>
</div>
<script>
const url="http://intereek.natapp1.cc/pangu/xcx.do";
const vm=new Vue({
    el:"#zzxf",
data(){
    return{
        openId:"o3Whq1Mp-MDDwlJTbD_xEoVogHfg",
        companyCode:"m44gwOk2PSU4cMtqHiEw007",
        // 所有的类型数据
        menustype:[],
        // 所有类型下的数据
        list:[],
        // 用来判断左侧的高亮
        shopindex:0,
        // 物品总价
        total:0,
        act:true,
        // 保存所有添加进来的商品
        shoplist:[],
    }
},
computed: {
    shops(){
        const that=this;
        let newlist=[];
        for(let i=0;i<that.list.length;i++){
            for(let s of that.list[i]){
                if(s.num>0){
                    newlist.push(s)
                }
            }
        }
        return newlist;
    },
    totalnums(){
        const that=this;
        let number=0;
        for(let i=0;i<that.list.length;i++){
            for(let s of that.list[i]){
                number+=s.num;
            }
        }
        return number;
    },
    // 进入页面时的数据，切换时更换数据
    lists(){
        const that=this;
          return function(i){
            var listtype=[];
              if(i<0){
                 listtype=that.list;
                 return listtype[0];
              }else{
                for(var index in that.list[i]){
                    listtype.push(that.list[i][index])
                }
                return listtype;
              }  
          }
            
    },
    // 显示选中商品的数量
    nums(){
        const that=this;
        let number=0;
        for(let i in that.list){
            if(that.list[i].num>0){
                number++;
            }
        }
        return number;
    }
},
methods:{
    // 点击购物车，显示所有商品
    detail(){
        this.act=false;
    },
    // 点击取消，显示首页
    cancel(){
        this.act=true;
    },
    btnjj(lis){
        const that=this;
        lis.num++;
        if(lis.num>0){
            lis.ck=true;
        }else{
            that.ck=false;
        }
    },
    btnj(lis){
        const that=this;
        lis.num--;
        that.shoplist.pop(lis);
        if(lis.num<=0){
            lis.ck=false;
        }else{
            lis.ck=true;
        }
    },
    types(i){
        this.shopindex=i;
    },
    //缓存cookie
    setCookie(key, value, iDay) {
    var oDate = new Date();
    console.log(oDate);
    oDate.setDate(oDate.getDate() + iDay);
    document.cookie = key + "=" + value + ";expires=" + oDate;
    },
    getCookie(key) {
    var cookieArr = document.cookie.split("; ");
    for (var i = 0; i < cookieArr.length; i++) {
        var arr = cookieArr[i].split("=");
        if (arr[0] === key) {
        return arr[1];
        }
    }
    return false;
    },
    removeCookie(key) {
    setCookie(key, "", -1); //这里只需要把Cookie保质期退回一天便可以删除
    },
    queryString(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    },
    //获取openid
    getOpenid(code) {
        const that = this;
        const testServer = "www.intereek.com"; //这是服务器地址
        $.ajax({
            type: "POST",
            dataType: "jsonp",
            jsonp: "callback",
            url:
            "http://" +
            testServer +
            '/pangu/pangu.do?requestData={"operationType":"getOpenid","companyCode":"' +
            that.companyCode +
            '","code":"' +
            code +
            '"}', //这个地址不是固定的，后台接口地址
            success: function(data) {
            //获取成功就保存到cookie中；
            console.log(data);
            if (data.success) {
                that.openid = data.result;
                that.setCookie("openid", data.result, 365);
                that.getdata();
            }
            }
        });
        },
    getdata(){
        const that=this;
        $.ajax({
            type:"POST",
            url,
            dataType:"jsonp",
            data:{
                operationType:'ziZhuXiaoFei',
                openId:that.openId,
                companyCode:that.companyCode
            },
            success:function(res){
                let menustypes=[];//保存所有类型
                let lists=[];//保存所有类型下的数据
                let menus=res.result.menus;
                for(let i in menus){
                    menustypes.push(i)
                    menus[i].forEach(a => {
                        a.num=0;
                        a.ck=false;
                });
                    lists.push(menus[i])
                }
                that.menustype=menustypes;
                that.list=lists;
                console.log(lists)
            }
        })
    },
},
mounted(){
    const that=this;
    that.getdata();
    return;
    that.companyCode = that.queryString("companyCode");
    if (that.getCookie("openid") && that.getCookie("openid") != "undefined") {
      //从cookie中获取
      that.openid = that.getCookie("openid"); //获取成功就保存
      that.getdata();
    } else {
      //获取不成功,就要从url中截取
      const local = window.location.href;
      const code = that.queryString("code");
      // 获取code
      if (code == null || code === "") {
        //获取code为空或null，就要去微信指定位置获取；
        window.location.href =
          "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" +
          that.appid +
          "&redirect_uri=" +
          encodeURIComponent(local) +
          "&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect";
        return;
      } else {
        //获取到code调函数请求后台获取openid；
        that.getOpenid(code);
      }
    }
},
})
</script>
</body>
</html>